########################################################
# Defining the required modules for this Python application
########################################################

Django>=2.0
django-fsm
psycopg2
